@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #050816;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: #e2e8f0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050816;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}

::selection {
  background: #6366f1;
  color: white;
}
